// $color-primary: #1d2d50;
// $color-secondary: #133b5c;
// $color-tertiary: #1e5f74;
// $color-quaternary: #fcdab7;

// $color-primary: #ececec;
// $color-secondary: #9fd3c7;
// $color-tertiary: #385170;
// $color-quaternary: #142d4c;

// $color-primary: #eeeeee;
// $color-secondary: #b55400;
// $color-tertiary: #393e46;
// $color-quaternary: #222831;

// $color-primary: #f1f6f9;
// $color-secondary: #9ba4b4;
// $color-tertiary: #394867;
// $color-quaternary: #14274e;

$color-primary: #f7f7f7;
$color-secondary: #93deff;
$color-tertiary: #606470;
$color-quaternary: #323643;
