.parameters {
  &__container {
    h4 {
      margin-bottom: 1rem;
    }
  }
  &__btn-container {
    margin-top: 2rem;
  }
}

.parameter {
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  &-name {
    padding: 0.5rem 1rem;
  }
}

.parameter-type {
  border: 1px solid $color-primary;

  padding: 3rem 6rem;
}
