.navigation-admin {
  position: relative;
  z-index: 20;
  width: 80%;
  margin: 0 auto;
  background-color: $color-quaternary;

  &__search-bar {
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    padding: 1rem 2rem;
  }
}

.mini-nav {
  margin-top: 1rem;
  font-size: 1.6rem;
}
