.btn {
  // resets
  border: none;
  outline: none;

  text-transform: uppercase;

  padding: 1rem 2rem;

  transition: all 0.2s;
  font-family: "Lato", sans-serif;

  &:hover {
    background-color: $color-primary;
    transform: translateY(-3px);
    @include shadowDark;
  }
  &:active {
    transform: translateY(1px);
  }

  @include borderRadius;
  &--login {
    margin-top: 3rem;
    background-color: $color-primary;
    color: $color-quaternary;
  }
}

.equipments__item__btn {
  padding: 1rem 2rem;
  width: 15rem;
}

////////////////////////////////////////////
// FORM BUTTON
////////////////////////////////////////

.new-company {
  &__form-btn {
    font-family: inherit;
    color: $color-quaternary;
    padding: 1rem 2rem;
  }
}
