.btn {
  // resets
  border: none;
  outline: none;

  text-transform: uppercase;

  padding: 1rem 2rem;

  transition: all 0.2s;
  font-family: "Lato", sans-serif;

  &:hover {
    background-color: $color-primary;
    transform: translateY(-3px);
    @include shadowDark;
  }
  &:active {
    transform: translateY(1px);
  }

  @include borderRadius;
  &--login {
    margin-top: 3rem;
    background-color: $color-primary;
    color: $color-quaternary;
  }
}

.equipments__item__btn {
  padding: 1rem 2rem;
  width: 15rem;
}

////////////////////////////////////////////
// FORM BUTTON ADD NEW COMPANY
////////////////////////////////////////

.new-company {
  &__form-btn {
    font-family: inherit;
    color: $color-quaternary;
    padding: 1rem 2rem;
  }
}

////////////////////////////////////////////
// ADD NEW COMPANY BUTTON FROM ADMIN NAV
////////////////////////////////////////

.navigation-admin {
  &__btn {
    border: none;
    outline: none;

    font-family: inherit;

    width: 20rem;
    padding: 1rem 2rem;
    background-color: $color-secondary;
    color: $color-quaternary;
    @include borderRadius;

    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      background-color: $color-primary;
      transform: translateY(-2px);
      @include shadowLight;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

////////////////////////////////////////////
// BUTTONS FROM  MODIFING ADDED COMPANY, EDIT COMPANY, ADD EQUIPMENT AND DELETE COMPANY
////////////////////////////////////////

.companies__company {
  &__btn {
    border: none;
    outline: none;

    @include borderRadius;

    font-family: inherit;
    padding: 1rem 1.5rem;

    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      background-color: $color-primary;
    }
    &:active {
      transform: translateY(1px);
    }

    &--blue {
      background-color: $color-secondary;
      color: $color-quaternary;
    }

    &--red {
      background-color: $color-red;
      color: $color-primary;
      &:hover {
        color: $color-red;
      }
    }
  }
}
