.navigation-admin {
  width: 80%;
  margin: 0 auto;
  background-color: $color-quaternary;

  &__search-bar {
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    padding: 1rem 2rem;
  }
  &__link {
    display: inline-block;

    font-size: 2rem;

    padding: 1rem 2rem;

    background-color: $color-tertiary;

    @include borderRadius;
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-secondary;
    }
  }
}
